# fly.toml app configuration file generated for portfolio-backend-holy-frog-7300 on 2025-12-02T11:47:21+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'portfolio-backend-holy-frog-7300'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile.backend'

[env]
  PORT = '5000'
  NODE_ENV = 'production'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/api/health"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
