app = "portfolio-frontend-green-field-7104"
primary_region = "cdg"

[build]
  dockerfile = "Dockerfile"
  [build.args]
    VITE_API_URL = "https://portfolio-backend-holy-frog-7300.fly.dev/api"

[env]
  PORT = "80"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
