app = "portfolio-backend-holy-frog-7300"
primary_region = "cdg"

[build]
  dockerfile = "Dockerfile.backend"

[env]
  PORT = "5000"
  NODE_ENV = "production"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[http_service.checks]]
  interval = "15s"
  timeout = "2s"
  grace_period = "5s"
  method = "get"
  path = "/api/health"

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
